# Dependencies
/client/node_modules
/server/vendor

# Build outputs
/client/dist
/client/dist-ssr
*.local

# Environment files
.env
.env.local
.env.*.local
/client/.env
/server/.env

# Database
/db/*.db
/db/*.sqlite

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?